/*   color variables */
*::before,
*::after {
  --clr-primary: #ba7dff;
  --clr-primary-light: #e1f5fe;
  --clr-primary-dark: rgb(36, 14, 58);
  --clr-bG-light: #6E2FB5;
  --clr-bG-dark: #471E75;
  --clr-gray100: #f9fbff;
  --clr-gray200: #eef1f6;
  --clr-gray300: #e1e5ee;
  --clr-gray400: #767b91;
  --clr-gray500: #4f546c;
}

:root {
  /* 	Size is a variable for both - height and width dimensions of the circle  */
  --size: 200px;
  /* 	First Color Value */
  --clrFirstSpin: lightpink;
  /* 	Second Color Value */
  --clrSecondSpin: aqua;
  /* 	Third Color Value */
  --clrThirdSpin: purple;
  /* 	Duration for text blinking animation  */
  --displayingTextTime: 2500ms;
  --spinnerFont: calc(var(--size)/10);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: rgb(15, 6, 24);
  background: linear-gradient(322deg,
      rgba(15, 6, 24, 1) 20%,
      rgba(46, 19, 78, 1) 100%);
  color: var(--clr-gray500);
  font-size: 1.1em;
  font-family: Mukta, sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 2em;
}

.tableContainer {
  width: clamp(30em, 80%, 900px);
  box-shadow: 4px 4px 20px #0002;
  position: relative;
  overflow: auto;
  border-radius: 1em;
}