/*   color variables */
*::before,
*::after {
  --clr-primary: #ba7dff;
  --clr-primary-light: #e1f5fe;
  --clr-primary-dark: rgb(36, 14, 58);
  --clr-bG-light: #6E2FB5;
  --clr-bG-dark: #471E75;
  --clr-gray100: #f9fbff;
  --clr-gray200: #eef1f6;
  --clr-gray300: #e1e5ee;
  --clr-gray400: #767b91;
  --clr-gray500: #4f546c;
}

:root {
  /* 	Size is a variable for both - height and width dimensions of the circle  */
  --size: 200px;
  /* 	First Color Value */
  --clrFirstSpin: lightpink;
  /* 	Second Color Value */
  --clrSecondSpin: aqua;
  /* 	Third Color Value */
  --clrThirdSpin: purple;
  --spinnerFont: calc(var(--size)/10);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100vh;
  background: rgb(15, 6, 24);
  background: linear-gradient(322deg,
      rgba(15, 6, 24, 1) 20%,
      rgba(46, 19, 78, 1) 100%);
  color: var(--clr-gray500);
  font-size: 1.1em;
  font-family: Mukta, sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  padding-block-start: 1em;
}

.tableContainer {
  width: max(90%, 20em);
  min-height: 90%;
  box-shadow: 4px 4px 20px #0002;
  position: relative;
  overflow: auto;
  border-radius: 1em;
}

@media screen and (hover: hover) {
  .tableContainer::-webkit-scrollbar {
    width: .7em;
    height: .7em;
    background-color: #361758;
    border-radius: 1em;
  }

  .tableContainer::-webkit-scrollbar-thumb {
    background-color: #682ca8;
    border: 2px solid #361758;
    border-radius: 1em;
  }

  .tableContainer::-webkit-scrollbar-thumb:hover {
    background-color: #7c35c9;
  }

  .tableContainer::-webkit-scrollbar-thumb:active {
    background-color: #8e3de4;
  }

}