table {
  width: 100%;
  height: 100%;
  overflow: auto;
  border-collapse: collapse;
}

thead {
  background-color: #6E2FB5;
  box-shadow: 2px 2px 8px #0001;
  font-size: 1.3em;
  position: sticky;
  top: 0;
  z-index: 2;
}

thead tr th {
  padding-block: .4em;
  color: white;
}

tr td:first-of-type {
  background-color: rgb(15, 6, 24);
}

tbody tr:nth-child(2n) td:first-of-type {
  background-color: var(--clr-bG-dark, #471E75);
}

tr th:first-of-type,
tr td:first-of-type {
  background-color: #6E2FB5;
  position: sticky;
  left: 0;
  z-index: 1;
}




tbody {
  content-visibility: auto;
  contain-intrinsic-size: 0 calc(var(--dataAmount) * 1.5em);
}

tbody tr:nth-child(2n) {
  background-color: transparent;
}

td {
  white-space: nowrap;
  text-align: center;
  padding-inline: .7em;
  color: white;
}